<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      .base {
        padding: 5px 20px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="#" class="navbar-brand mx-auto">USUARIOS</a>
    </nav>
    <!-- <div class="container"> -->
    <div class="row base">
      <div class="col-md-8 mt-4 text-center">
        <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>EMAIL</th>
            <th>CONTRASEÑA</th>
          </tr>
          <% for(var i=0 ; i < usuarios.length; i++) { %>
          <tr>
            <td><%= usuarios[i].id %></td>
            <td><%= usuarios[i].name %></td>
            <td><%= usuarios[i].email %></td>
            <td><%= usuarios[i].password %></td>
          </tr>

          <% } %>
        </table>
      </div>
      <div class="col-md-4 mt-4 card">
        <!-- formulario para ingresar usuarios -->
        <form action="/usuarios" method="POST" class="card-body">
          <h3 class="card-title text-center">Registrar Usuario</h3>
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              placeholder="Ejm: Alex Santacruz"
              autofocus
            />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              placeholder="Ejm: ejemplo@wayra.com"
            />
          </div>
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="********"
            />
          </div>
          <input type="submit" class="btn btn-primary" value="Registrar" />
        </form>

        <!-- formulario para eliminar usuarios -->
        <form action="/usuarios2" method="POST" class="card-body">
          <h3 class="card-title text-center">Eliminar Usuario</h3>
          <div class="form-group">
            <label for="id">ID:</label>
            <input
              type="text"
              name="id"
              id="id"
              class="form-control"
              placeholder="Ejm: 1"
            />
          </div>
          <input type="submit" class="btn btn-danger" value="Eliminar" />
        </form>
      </div>
    </div>
  </body>
</html>
